asgiref==3.8.1
attrs==25.3.0
Django==4.2.7
django-cors-headers==4.3.0
django-filter==25.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.26.5
inflection==0.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
mysqlclient==2.2.0
Pillow==10.1.0
PyJWT==2.10.1
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
rpds-py==0.25.1
sqlparse==0.5.3
typing_extensions==4.14.0
uritemplate==4.2.0

pip~=25.0.1
wheel~=0.45.1
setuptools~=78.1.0
dj-config-url~=0.1.1